<%- include('../includes/head.ejs') %>

<body>
	<%- include('../includes/nav.ejs') %>
</body>

<section class="welcome">
	<% if(errorMessage) { %>
	<div class="error-msg"><p><%= errorMessage %></p></div>
	<% } %>
	<h2>Sign Up</h2>
	<div class="signup">
		<form action="/signup" method="POST" novalidate>
			<div class="form-control">
				<label for="email">Email</label>
				<input
					type="email"
					name="email"
					id="email"
					placeholder="Email"
				/>
			</div>
			<div class="form-control">
				<label for="username">Username</label>
				<input
					type="text"
					name="username"
					id="username"
					placeholder="Username"
				/>
			</div>
			<div class="form-control">
				<label for="password">Password</label>
				<input
					type="password"
					name="password"
					id="password"
					placeholder="Password"
				/>
			</div>
			<div class="form-control">
				<label for="confPassword">Confirm Password</label>
				<input
					type="password"
					name="confPassword"
					id="confPassword"
					placeholder="Confirm Password"
				/>
			</div>
			<button class="btn auth-btn" type="submit">Sign Up!</button>
		</form>
	</div>
</section>
