@media screen and (max-width: 1300px) and (min-width: 769px){
  nav{
    min-height: 9vh;
  }
  .logo {
    img{
      max-height: 7vh;
    }
  }
  .nav-links {
    width: 65%;
    a, .nav-btn{
      font-size: 1.6rem;
      @media only screen and (max-height: 420px) {
        font-size: 1.3rem;
      }
    }

    .dropdown-menu {
      top: 9vh;
    }
  }

  .welcome {
    padding: 3rem 10vw 0 10vw;
    h2{
      font-size: 3rem;
    }
    p{
      font-size: 1.6rem;
      margin: 0;
      margin-top: 2rem;
    }
  }

  .quiz-list-main{
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    
  }

  //Login
   .form-control.form-control-log-sign,
   .form-control.form-control-contact{
    width: 65vw !important;
  }

  input.contact-input{
    width: 50vw;
  }

  //Create-quiz 

  .create-q-main {
    .create-quiz-left{
      width: 50vw;
    }
    .create-quiz-right {
      width: 35vw;
    }
  }

  .create-quiz-table form{
    width: inherit;
  }

  input.create-q-input{
    width: 95%;
    padding: .75rem
  }

  .quiz-template-container{
    .table-quiz-container{
      line-height: 1;
      .table-quiz{
        width: 45vw;
      }
  }
    .quiz-input-card {
    width: 30vw;
  }
}

section.user-quiz-list{
  width: 70vw;
}



}



