//Fonts
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400&display=swap');

//variables
$primary-color: #00c9c8;
$primary-color-dark: #008a8a;
$primary-text-color: #333;

$font-1: 'Nanum Gothic', sans-serif;
$font-2: 'Roboto Mono', monospace;


@mixin mobile {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin mdScreen {
  @media screen and (max-width: 1300px) and (min-width: 769px){
    @content;
  }
}




//animations


