@import 'util';


//nav

nav {
  background: $primary-color;
  height: 6rem;


  
  .container{
    // border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;

    margin: 0 35rem;
  }
  .nav-left{
    height: inherit;
    flex: 1;
    display: flex;
    a{
      display: flex;
      justify-content: center;
      align-self: center;
      height: 90%;
    img{
      height: inherit;
      margin: auto;
    }
  }
    
  }

  .nav-right {
    height: 100%;
    flex: 1.5;
    .nav-list {
    // border: 1px solid black;
    display: flex;

    height: 100%;

    li{
      height: inherit;
      display: flex;
      align-items: center;
      a{
        font-size: 20px;
        font-weight: bold;
        color: #333;
        padding: .8rem 1.4rem;
        transition: all .1s ease;
        &:hover{
          font-weight: 600;
          border-bottom: 1px solid black;
        }
        i{
          font-size: 10px;
       }
      }
      &.dropdown-btn{
        position: relative;
        

        a:hover{
          border: none;
        }
    }
    &.dropdown-btn:hover > .dropdown-list {
      visibility: visible;
      opacity: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;


     
    }
    .dropdown-list{
      display: block;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      width: 120%;
      background: #fff;
      top: 6rem;
      border: .5px solid $primary-color;
      border-top: none;
      border-radius: 0 0 10px 10px ;
      background: #fff;
      transition: all .2s ease-in-out;
      z-index: 5;
        li{
          min-width: 100%;
        a{
          min-width: inherit;
          &:hover{
            background: $primary-color;
            color: #eee;
          }
          &.drop-item-last{
            border-top: 1px solid $primary-color;
            border-radius: 0 0 8px 8px;
          }
        }
      }
       
      }
     }
    }
   }
  }
  
  section{
    margin: 0 35rem;
    &.welcome{
      padding: 4rem 0;
    }
    h2{
      font-size: 35px;
      margin-bottom: 1rem;
    }
    p{
      font-size: 20px;
    }
    &.main{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 7rem;
    }
  }

  
  //create quiz

   .create-quiz-form-container{
     display: flex;
    //  justify-content: flex-start;
   }
  
  
    h3{
      font-size: 2.3rem;
    }

   
    .create-quiz-left{
      border-bottom: none;

      .create-quiz-table {
        border-bottom: none;
        margin-right: 12rem;
        th{
        background-color: #fff;
        color: black;
      }
        tr {
          color: black;
          margin: 5rem;
        }
        &.multi-choice{
          border: 2px solid $primary-color;
        }
    }
}

.quiz-creator-btn {
  margin-top: 5rem;
}

.quiz-creator-btn span:after {
  content: '\25be';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -2rem;
  transition: 0.2s;
}

.remove-question span:after {
  content: '\25b4';
}

.quiz-creator-btn:hover span {
  padding-right: 2.5rem;
}

.quiz-creator-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.post-created-quiz {
  
  font-size: 3rem;
  margin-top: 2rem;

  span:after {
    content: '\25b8';
  }
}


//Quiz Template

.quiz-template-container{
  display: flex;
  align-items: start;
  .table-quiz-container{
    margin-right: 7rem;
  }
  //questions table
  
  .answer-cell{
    &.answer-correct{
      background: rgb(155, 250, 147);
    }
    &.answer-wrong{
      background-color: rgb(250, 136, 136);
    }
  
  .answer-cell-text{
    visibility: hidden;
    opacity: 0;
    z-index: 5;

    &.active{
      visibility: visible;
      opacity: 1;
    }
  }
}
  //question input
  .quiz-input-card{
    border: 1px solid $primary-color;
    padding: 2rem;
    border-radius: .3rem;
    width: 40rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3{
      font-size: 3rem;
    }
  }
  .quiz-start{
    &.hide{
      display: none;
      visibility: hidden;
      opacity: 0;
    }
  }
  .quiz-during{
    opacity: 0;
    visibility: hidden;
      input{
        font-size: 1.7rem;
        color: #333;
        &::placeholder {
        // color: #333;
        font-size: 1.7rem;
      }
      &:focus::placeholder {
        color: transparent;
      }
    }
    .already-guessed{
      visibility: hidden;
      opacity: 0;
      &.active{
        opacity: 1;
        visibility: visible;
      }
    }
    &.active{
      opacity: 1;
      visibility: visible;
    }
    &.hide{
      display: none;
    }
    
  }
  .quiz-end{
    opacity: 0;
    visibility: hidden;
    &.active{
      opacity: 1;
      visibility: visible;
    }
  }
  .quiz-timer{
    font-size: 5rem;
    font-weight: bold;
  }

  .quiz-score{
    font-size: 1.9rem;

    &.end-score p{
      font-weight: 700;
      font-size: 2.5rem;
      margin-top: 5rem;
    }
  }
}





//Login // SignUp


.signup {
  border: 2px solid $primary-color;
  border-radius: 10px;
  width: 50%;
  margin-top: 5rem;
  form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;

  .form-control{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
  }
  .auth-btn{
    margin-top: 2rem;
  }
}
}

.error-msg p{
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  // background-color: rgb(253, 84, 84);
  border: 3px solid rgb(248, 39, 39);
  border-radius: 5px;
  width: initial;
  padding: 1rem 2rem;
}


//user
section.user-quiz-list{
  display: flex;
  flex-direction: column;
  width: 30%;
  li{
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    a{
      font-size: 2rem;
    }
  }
  .delete-quiz-card{
    position: fixed;
    background: #fff;
    border: 1px solid #333;
    border-radius: 8px;
    flex-direction: column;
    padding: 1rem;
    top: 25%;
    display: none;
    visibility: hidden;
    &.active{
    display: flex;   
    visibility: visible; 
    }
    h3{
      text-align: center;
    }

    .btn-container{
      display: flex;
      justify-content: center;
      button{
        margin: 2rem 2rem 0 2rem;
      }
    }

    
  }
}

//pageination
.page-links{
  margin: 10rem;
  margin-left: 20rem;
  a{
  font-size: 6rem;
  }
}

