@import 'util';


//nav

nav {
  background: $primary-color;
  height: 6rem;


  
  .container{
    // border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;

    margin: 0 35rem;
  }
  .nav-left{
    height: inherit;
    flex: 1;
    display: flex;
    a{
      display: flex;
      justify-content: center;
      align-self: center;
      height: 90%;
    img{
      height: inherit;
      margin: auto;
    }
  }
    
  }

  .nav-right {
    height: 100%;
    flex: 1.5;
    .nav-list {
    // border: 1px solid black;
    display: flex;

    height: 100%;

    li{
      height: inherit;
      display: flex;
      align-items: center;
      a{
        font-size: 20px;
        font-weight: bold;
        color: #333;
        padding: .8rem 1.4rem;
        transition: all .1s ease;
        &:hover{
          font-weight: 600;
          border-bottom: 1px solid black;
        }
        i{
          font-size: 10px;
       }
      }
      &.dropdown-btn{
        position: relative;
        

        a:hover{
          border: none;
        }
    }
    &.dropdown-btn:hover > .dropdown-list {
      visibility: visible;
      opacity: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;


     
    }
    .dropdown-list{
      display: block;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      width: 120%;
      background: #fff;
      top: 6rem;
      border: .5px solid $primary-color;
      border-top: none;
      border-radius: 0 0 10px 10px ;
      background: #fff;
      transition: all .2s ease-in-out;
      z-index: 5;
        li{
          min-width: 100%;
        a{
          min-width: inherit;
          &:hover{
            background: $primary-color;
            color: #eee;
          }
          &.drop-item-last{
            border-top: 1px solid $primary-color;
            border-radius: 0 0 8px 8px;
          }
        }
      }
       
      }
     }
    }
   }
  }
  
  section{
    margin: 0 35rem;
    &.welcome{
      padding: 4rem 0;
    }
    h2{
      font-size: 35px;
      margin-bottom: 1rem;
    }
    p{
      font-size: 20px;
    }
    &.main{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 7rem;
    }
  }

  
  //create quiz

   .create-quiz-form-container{
     display: flex;
    //  justify-content: flex-start;
   }
  
    input[type=text], input[type=number], select, textarea {
      width: 30rem;
      padding: 1.2rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
       margin: 1rem 0;
    }

    label{
      font-size: 2rem;
      font-weight: 700;
    }

   
    .create-quiz-left{
      border-bottom: none;

      .create-quiz-table {
        border-bottom: none;
        margin-right: 12rem;
        th{
        background-color: #fff;
        color: black;
      }
        tr {
          color: black;
          margin: 5rem;
        }
    }
}

.quiz-creator-btn {
  margin-top: 5rem;
}

.quiz-creator-btn span:after {
  content: '\25be';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -2rem;
  transition: 0.2s;
}

.remove-question span:after {
  content: '\25b4';
}

.quiz-creator-btn:hover span {
  padding-right: 2.5rem;
}

.quiz-creator-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.post-created-quiz {
  
  font-size: 3rem;
  margin-top: 2rem;

  span:after {
    content: '\25b8';
  }

  
}

 

