@import 'util';



//default and some reusable code
//main media queries at the bottom!

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: $primary-color;
}

html{
	font-family: $font-1;
  font-size: 10px;
  color: $primary-text-color;
}
ul {
  list-style-type: none;
}

a{
  color: #000;
  text-decoration: none;
}

input, textarea{
  &:focus{
    outline: none;
  }
}


//sticks footer to bottom of page if page height is < 100vh
.main-container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.body-minus-footer{
  margin-bottom: 5rem;
}



footer {
  display: flex;
  justify-content: center;
  background-color: $primary-color;
  padding: 1.5rem 0;

  p{
    font-size: 1.6rem;
    letter-spacing: -1px;
    font-family: $font-2;
    a{
      font-weight: bold;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}




@import 'nav';
@import 'loginsignup';
@import 'accountpage';
@import 'quizpage';
@import 'quizcard';
@import 'createquiz';
@import 'layout';
@import 'forms';


