<div class="create-quiz-right">
	<div class="form-control create-quiz-right-item">
		<label for="title">Title</label>
		<input
			class="create-q-input create-q-r-input"
			type="text"
			name="title"
			id="title"
		/>
	</div>

	<div class="form-control create-quiz-right-item">
		<label for="description">Description</label>
		<input
			class="create-q-input create-q-r-input"
			type="text"
			name="description"
			id="description"
		/>
	</div>

	<div class="form-control create-quiz-right-item">
		<label for="time">Time (minutes)</label>
		<input
			class="create-q-input create-q-r-input"
			type="text"
			name="time"
			id="time"
		/>
	</div>
	<select id="category" name="category">
		<option value="general knowledge">General Knowledge</option>
		<option value="history">History</option>
		<option value="geography">Geography</option>
		<option value="media">Media</option>
		<option value="sport">Sport</option>
	</select>
</div>
