<div class="create-quiz-right">
	<div class="form-control">
		<label for="title">Title</label>
		<br />
		<input type="text" name="title" id="title" />
	</div>

	<div class="form-control">
		<label for="description">Description</label>
		<br />
		<input type="text" name="description" id="description" />
	</div>

	<div class="form-control">
		<label for="time">Time (minutes)</label>
		<br />
		<input type="text" name="time" id="time" />
	</div>
	<select id="category" name="category">
		<option value="general knowledge">General Knowledge</option>
		<option value="history">History</option>
		<option value="Geography">Geography</option>
		<option value="music and television">Music & Television</option>
		<option value="sport">Sport</option>
	</select>
</div>
