<table class="table-quiz create-quiz-table multi-choice">
	<tr>
		<th>1</th>
		<th>Question</th>
		<th>Answer</th>
		<th>Correct</th>
	</tr>
	<tr>
		<td></td>
		<td>
			<div class="form-control">
				<input
					type="text"
					name="question"
					id="question"
					placeholder="Question 1"
				/>
			</div>
		</td>
		<td>
			<div class="form-control">
				<input
					type="text"
					name="answer"
					id="answer"
					placeholder="Answer 1"
				/>
			</div>
		</td>
		<td>
			<div class="form-control">
				<input type="radio" name="answer" id="answer" />
			</div>
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<div class="form-control">
				<input
					type="text"
					name="question"
					id="question"
					placeholder="Question 2"
				/>
			</div>
		</td>
		<td>
			<div class="form-control">
				<input
					type="text"
					name="answer"
					id="answer"
					placeholder="Answer 2"
				/>
			</div>
		</td>
		<td>
			<div class="form-control">
				<input type="radio" name="answer" id="answer" />
			</div>
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<div class="form-control">
				<input
					type="text"
					name="question"
					id="question"
					placeholder="Question 3"
				/>
			</div>
		</td>
		<td>
			<div class="form-control">
				<input
					type="text"
					name="answer"
					id="answer"
					placeholder="Answer 3"
				/>
			</div>
		</td>
		<td>
			<div class="form-control">
				<input type="radio" name="answer" id="answer" />
			</div>
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<div class="form-control">
				<input
					type="text"
					name="question"
					id="question"
					placeholder="Question 4"
				/>
			</div>
		</td>
		<td>
			<div class="form-control">
				<input
					type="text"
					name="answer"
					id="answer"
					placeholder="Answer 4"
				/>
			</div>
		</td>
		<td>
			<div class="form-control">
				<input type="radio" name="answer" id="answer" />
			</div>
		</td>
	</tr>
</table>
