<header>
	<nav>
		<div class="container">
			<div class="nav-left">
				<a href="/"><img src="/img/logo/logo.svg" alt="" /></a>
			</div>
			<div class="nav-right">
				<ul class="nav-list">
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li class="dropdown-btn">
						<a href="/"
							>All Quizzes
							<i class="fas fa-chevron-down"></i>
						</a>
						<ul class="dropdown-list">
							<li><a href="">General Knowledge</a></li>
							<li><a href="">History</a></li>
							<li><a href="">Geography</a></li>
							<li><a href="">Media</a></li>
							<li>
								<a href="" class="drop-item-last"
									>All Quizzes</a
								>
							</li>
						</ul>
					</li>
					<li><a href="/">Login</a></li>
					<li>
						<a href="/create-quiz/create-quiz-index">Create Quiz</a>
					</li>
					<li><a href="/">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>
