<%- include('./includes/head.ejs') %> 
	</head>
	<body>
		<div class="main-container">
			<div class="body-minus-footer">
    <%- include('./includes/nav.ejs') %> 
		<main>
			<div class="welcome">
				<h2>404, Page Not Found</h2>
			</div>
		</main>
		</div>
		<footer>
			<p>Website created by <a href="#">David Williamson</a></p>
		</footer>
	</div>
	</body>
		<script src="/js/ui.js"></script>
