<%- include('./includes/head.ejs') %> 
	</head>
	<body>
		<%- include('./includes/nav.ejs') %> 

		<script src="/js/ui.js"></script>
	</body>
	</html>
	<!-- <%- include('./includes/end.ejs') %>  -->

