<%- include('./includes/head.ejs') %>
<body>
	<div class="main-container">
		<div class="body-minus-footer">
			<%- include('./includes/nav.ejs') %>
			<main>
				<div class="welcome">
					<h2>About</h2>
					<p>
						Ex-Quiz-it allows users to test their knowledge and take
						quizzes covering a variety of categories!
					</p>
					<p>Sign up, and create a quiz for others to take!</p>
				</div>
			</main>
		</div>
		<footer>
			<p>Website created by <a href="#">David Williamson</a></p>
		</footer>
	</div>
	<script src="/js/ui.js"></script>
</body>

<%- include('./includes/end.ejs') %>
