<%- include('./includes/head.ejs') %> 
	</head>
	<body>
		<%- include('./includes/nav.ejs') %> 
		<h1>ITS ALL ABOUT THE Knowledge</h1>

	</body>
	</html>
	<!-- <%- include('./includes/end.ejs') %>  -->

