<%- include('./includes/head.ejs') %>
<body>
	<%- include('./includes/nav.ejs') %>

	<section class="welcome">
		<h2>Create your own quiz for others to try!</h2>
		<p>
			Follow these simple sets and you'll be sharing this bad boy in no
			time!
		</p>
	</section>

	<section class="create-q-main">
		<form action="/create-quiz" method="POST">
			<div class="create-quiz-form-container">
				<div class="create-quiz-left">
					<table class="table-quiz create-quiz-table">
						<tr>
							<th>#</th>
							<th>Question</th>
							<th>Answer</th>
						</tr>
						<tr>
							<td>1</td>
							<td>
								<div class="form-control">
									<input
										type="text"
										name="question"
										id="question"
										placeholder="Question 1"
									/>
								</div>
							</td>
							<td>
								<div class="form-control">
									<input
										type="text"
										name="answer"
										id="answer"
										placeholder="Answer 1"
									/>
								</div>
							</td>
						</tr>
						<tr>
							<td>2</td>
							<td>
								<div class="form-control">
									<input
										type="text"
										name="question"
										id="question"
										placeholder="Question 2"
									/>
								</div>
							</td>
							<td>
								<div class="form-control">
									<input
										type="text"
										name="answer"
										id="answer"
										placeholder="Answer 2"
									/>
								</div>
							</td>
						</tr>
						<tr>
							<td>3</td>
							<td>
								<div class="form-control">
									<input
										type="text"
										name="question"
										id="question"
										placeholder="Question 3"
									/>
								</div>
							</td>
							<td>
								<div class="form-control">
									<input
										type="text"
										name="answer"
										id="answer"
										placeholder="Answer 3"
									/>
								</div>
							</td>
						</tr>
						<tr>
							<td>4</td>
							<td>
								<div class="form-control">
									<input
										type="text"
										name="question"
										id="question"
										placeholder="Question 4"
									/>
								</div>
							</td>
							<td>
								<div class="form-control">
									<input
										type="text"
										name="answer"
										id="answer"
										placeholder="Answer 4"
									/>
								</div>
							</td>
						</tr>
						<tr>
							<td>5</td>
							<td>
								<div class="form-control">
									<input
										type="text"
										name="question"
										id="question"
										placeholder="Question 5"
									/>
								</div>
							</td>
							<td>
								<div class="form-control">
									<input
										type="text"
										name="answer"
										id="answer"
										placeholder="Answer 5"
									/>
								</div>
							</td>
						</tr>
					</table>
					<button
						type="button"
						class="btn quiz-creator-btn add-question"
					>
						<span>Add Question </span>
					</button>
					<button
						type="button"
						class="btn quiz-creator-btn remove-question"
					>
						<span>Remove Question </span>
					</button>
				</div>
				<div class="create-quiz-right">
					<div class="form-control">
						<label for="title">Title</label>
						<br />
						<input type="text" name="title" id="title" />
					</div>

					<div class="form-control">
						<label for="description">Description</label>
						<br />
						<input
							type="text"
							name="description"
							id="description"
						/>
					</div>

					<div class="form-control">
						<label for="time">Time (minutes)</label>
						<br />
						<input type="text" name="time" id="time" />
					</div>
					<select id="category" name="category">
						<option value="general-knowledge">
							General Knowledge
						</option>
						<option value="canada">History</option>
						<option value="usa">Geography</option>
						<option value="usa">Music & Television</option>
						<option value="usa">Sport</option>
					</select>
				</div>
			</div>
			<button
				class="btn quiz-creator-btn post-created-quiz"
				type="submit"
			>
				<span> Create! </span>
			</button>
		</form>
	</section>

	<%- include('./includes/end.ejs') %>
</body>
