<%- include('./includes/head.ejs') %> 
	</head>
	<body>
		<%- include('./includes/nav.ejs') %> 

		<section class="welcome">
			<h2><%= quiz.title %> </h2>
			<p>
				Can you guess 10 biggest countries by population?
			</p>
		</section>

		<section class="quiz-body">
		<section class="quiz">
			<table class="table-quiz">
			<tr>
				<th>#</th>
				<th>Company</th>
				<th>Contact</th>
				<th>Country</th>
			</tr>
			<tr>
				<td>1</td>
				<td class="">Alfreds Futterkiste</td>
				<td>Maria Anders</td>
				<td>Germany</td>
			</tr>
		</table>
	</section>
	
</body>
</html>
<!-- <%- include('./includes/end.ejs') %>  -->


