<%- include('../includes/head.ejs') %>
<body>
	<div class="main-container">
		<div class="body-minus-footer">
			<%- include('../includes/nav.ejs') %>
			<main>
				<div class="welcome">
					<h2>Error 500</h2>
					<p>Something went wrong, try again...</p>
				</div>
			</main>
		</div>
		<footer>
			<p>Website created by <a href="#">David Williamson</a></p>
		</footer>
	</div>

	<script src="/js/ui.js"></script>
</body>
