<%- include('../includes/head.ejs') %>

<body>
	<%- include('../includes/nav.ejs') %>

	<section class="welcome">
		<h2>Quiz Creation Failed!</h2>
		<p>Ensure your quiz..</p>
		<ul class="create-quiz-error">
			<li>Has at least 5 questions</li>
			<li>All fields have content</li>
			<li>Timer is a number, rounded to the nearest whole number</li>
		</ul>
	</section>
</body>
