<%- include('../includes/head.ejs') %>
<body>
	<%- include('../includes/nav.ejs') %> stuff
</body>

<section class="main quiz-index-main">
	<a href="/create-quiz/create-quiz-a">
		<div class="quiz-card">
			<div class="quiz-card-content">
				<div class="quiz-card-title">
					<h2>Quiz A</h2>
				</div>
				<div class="quiz-card-onhover">
					<p class="quiz-card-info">Create Quiz Type A</p>
					<br />
				</div>
			</div>
		</div>
	</a>
	<a href="/create-quiz/create-quiz-b">
		<div class="quiz-card">
			<div class="quiz-card-content">
				<div class="quiz-card-title">
					<h2>Quiz B</h2>
				</div>
				<div class="quiz-card-onhover">
					<p class="quiz-card-info">Create Quiz Type B</p>
					<br />
				</div>
			</div>
		</div>
	</a>
	<a href="/create-quiz/create-quiz-c">
		<div class="quiz-card">
			<div class="quiz-card-content">
				<div class="quiz-card-title">
					<h2>Quiz C</h2>
				</div>
				<div class="quiz-card-onhover">
					<p class="quiz-card-info">Create Quiz Type C</p>
					<br />
				</div>
			</div>
		</div>
	</a>
</section>
